#contact{
	.header{
		*{
			color:$white;
		}
		background:$blue;
		h1{
			padding-top:20px;
			font-family:"Avenir Black";
		}
	}
	.orange{
		background:$orange;
		color:$white;
		font-weight:bolder;
		font-family:"Avenir Black";
	}
	.img-contact-container{
		margin-top:10px;

		h1{
			color:$blue;
			font-weight:bolder;
			font-family:"Avenir Black";
			img{
				padding:40px;
			}
		}

	}
}

@media (min-width:0px) and (max-width:680px) {
	#contact{
		.header{
			*{
				color:$white;
			}
			background:$blue;
			h1{
				font-family:"Avenir Black";
				text-align:center;
			}
		}
		.orange{
			background:$orange;
			color:$white;
			font-weight:bolder;
			font-family:"Avenir Black";
		}
		.img-contact-container{
			margin-top:10px;

			h1{
				color:$blue;
				font-weight:bolder;
				font-family:"Avenir Black";
				font-size:1em;
				img{
					padding:40px;
				}
			}

		}
	}
}