@font-face {
    font-family: 'Avenir Roman'; /*a name to be used later*/
    src: url('../font/Avenir-Roman.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Avenir Black'; /*a name to be used later*/
    src: url('../font/Avenir-Black.ttf'); /*URL to font*/
}
